/*
CSS for the whole website.
Fonts found at behance.net
Link for undertale title font: https://www.behance.net/gallery/100106185/Monster-Friend-2
Link for regular text font: https://www.behance.net/gallery/31268855/Determination-Better-Undertale-Font
Both by Haley Wakamatsu or UkiyoMoji Fonts
If downloading the above fonts, read the license.
Deltarune title font made by me. It's not very good, but only 30 minutes of work does that.
*/
@font-face {
    /* Sans has less gaps */
    font-family: 'Determination-Sans';
    src: url(../fonts/DTM-Sans.otf) format('opentype');
}
@font-face {
    /* Bigger gaps between each letter */
    font-family: 'Determination-Mono';
    src: url(../fonts/DTM-Mono.otf) format('opentype');
}
@font-face {
    font-family: 'MonsterFriend-Back';
    src: url(../fonts/MonsterFriend2Back.otf) format('opentype');
}
@font-face {
    font-family: 'MonsterFriend-Center';
    src: url(../fonts/MonsterFriend2Center.otf) format('opentype');
}
@font-face {
    font-family: 'MonsterFriend-Fore';
    src: url(../fonts/MonsterFriend2Fore.otf) format('opentype');
}
@font-face {
    font-family: 'DR-Title';
    src: url(../fonts/deltarunetitle.woff) format('woff');
}
* {
    font-family: 'Determination-Sans';
    /* font-size: 16px; */
    color: white;
}
html {
    background-color: black;
}
.text-container {
    position: relative;
    margin: auto;
}
.h1 {
    font-size: 24px;
}
.layer-text {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    white-space: normal;
    text-transform: uppercase;
    text-align: center;
}
.title-text-b {
    font-family: 'MonsterFriend-Back';
    color: yellow;
    opacity: 0.5;
    z-index: 1;
}
.title-text-c {
    font-family: 'MonsterFriend-Center';
    color: rgb(255, 0, 0);
    z-index: 2;
}
.title-text-f {
    font-family: 'MonsterFriend-Fore';
    color: white;
    z-index: 3;
}
.norm {
    font-family: 'Determination-Mono';
    color: white;
    text-transform: none;
}
.dr-text-f {
    font-family: 'DR-Title';
    text-transform: none;
    color: white;
    z-index: 3;
    font-size: 48px;
    letter-spacing: 2.25px;
}
/* 
nope
.dr-text-b {
    font-family: 'DR-Title';
    text-transform: none;
    color: red;
    z-index: 2;
    font-size: 48px;
    letter-spacing: 225px;
} */
