/*
Css for the whole website.
Fonts found at behance.net
Link for title font: https://www.behance.net/gallery/100106185/Monster-Friend-2
Link for regular text font: https://www.behance.net/gallery/31268855/Determination-Better-Undertale-Font
Both by Haley Wakamatsu or UkiyoMoji Fonts
*/
@font-face {
    /* Sans has less gaps */
    font-family: 'Determination-Sans';
    src: url(../fonts/DTM-Sans.otf) format('opentype');
}
@font-face {
    /* Bigger gaps between each letter */
    font-family: 'Determination-Mono';
    src: url(../fonts/DTM-Mono.otf) format('opentype');
}
@font-face {
    font-family: 'MonsterFriend-Back';
    src: url(../fonts/MonsterFriend2B.otf) format('opentype');
}
@font-face {
    font-family: 'MonsterFriend-Center';
    src: url(../fonts/MonsterFriend2C.otf) format('opentype');
}
@font-face {
    font-family: 'MonsterFriend-Fore';
    src: url(../fonts/MonsterFriend2F.otf) format('opentype');
}
* {
    font-family: 'Determination-Sans';
    /* font-size: 16px; */
    color: white;
}
html {
    background-color: black;
}
.text-container {
    position: relative;
    width: fit-content;
}
.h1 {
    font-size: 24px;
}
.layer-text {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    white-space: nowrap;
}
.title-text-b {
    font-family: 'MonsterFriend-Back';
    color: rgb(100, 100, 100);
    opacity: 50%;
    z-index: 1;
}
.title-text-c {
    font-family: 'MonsterFriend-Center';
    color: rgb(255, 0, 0);
    z-index: 2;
}
.title-text-f {
    font-family: 'MonsterFriend-Fore';
    color: white;
    z-index: 3;
}
